# =================================
# APPLICATION CONFIGURATION
# =================================
NODE_ENV=development
PORT=8000
ALLOWED_HOSTS=*
ENABLE_REQUEST_RESPONSE_LOGGING=false

# =================================
# JWT CONFIGURATION
# =================================
JWT_ISSUER=
JWT_AUDIENCE=AI Farm
JWT_KEY=

# =================================
# ELASTIC APM CONFIGURATION
# =================================
ELASTIC_APM_SERVER_URLS=
ELASTIC_APM_SECRET_TOKEN=
ELASTIC_APM_SERVICE_NAME=data-aggregator
ELASTIC_APM_ENVIRONMENT=CI
ELASTIC_APM_LOG_LEVEL=info
ELASTIC_APM_CAPTURE_BODY=all

# =================================
# LOGCENTER CONFIGURATION
# =================================
ES_LOG_DISABLED=false
ES_LOG_LEVEL=info
ES_LOG_PREFIX=logs-ci-fai-data-aggregator
ES_LOG_USER=
ES_LOG_PASSWORD=
ES_LOG_NODE=
ES_LOG_RETRY_LIMIT=5
ES_LOG_HEALTH_CHECK_TIMEOUT=30s
ES_LOG_FLUSH_INTERVAL=1000
ES_LOG_BUFFERING=true
ES_LOG_BUFFER_LIMIT=1000

# =================================
# POSTGRES CONFIGURATION
# =================================
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_SCHEMA=public
POSTGRES_SYNCHRONIZE=false
POSTGRES_LOGGING=true
POSTGRES_MAX_QUERY_EXECUTION_TIME=3000

# =================================
# REDIS CONFIGURATION
# =================================
REDIS_CONFIG_HOST=
REDIS_CONFIG_PORT=6379
REDIS_CONFIG_PASSWORD=
